
.header {
    margin: 2px; 
    background-color:rgb(250, 146, 41);
    height: 60px; width: 1250px; padding: 1px; box-sizing:border-box;
    border: 1px solid rgb(0, 81, 255); 
    font-weight: ;
    font-style:;
    border-radius:  ;
    
}
.main, div  {
    margin: 10px 13px 4px 1px;
    background-color:white;
    height: 1000; width: 400px; padding: 1px; box-sizing:border-box;
    border: 1px solid blue; 
    float: ;
    position: relative;
    bottom: 1px;
    border-radius: 20%;
    display: block;
}
.footer{
    background-color:rgb(250, 146, 41);
    height: 20px; width: 1250px; padding: 1px; box-sizing:border-box;
    border: 1px solid chartreuse; 
}

